@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Red Hat Display", sans-serif;
}

body {
  width: 1440px;
  color: #87879d;
  line-height: 26px;
}

.main,
.foot {
  position: relative;
  display: block;
}

.main {
  margin-bottom: 117px;
  text-align: center;
}

.mainImg {
  position: absolute;
  bottom: 0;
}

.L {
  left: -30px;
}

.R {
  right: -30px;
}

.logo {
  margin: 80px 0 108px;
}

.mainComment {
  margin-bottom: 34px;
  width: 445px;
  font-size: 64px;
  line-height: 64px;
  font-weight: 900;
  color: #28283d;
}

.maineExplain {
  margin-bottom: 32px;
  width: 540px;
}

.subComment {
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  color: #28283d;
}

.beforeExplain {
  font-weight: 900;
  color: #4d96a9;
}

.marketingImg > img {
  width: 255px;
  height: 242px;
  margin-right: 13px;
  margin-left: 13px;
}

.chapterOne {
}

.summery {
  margin-bottom: 184px;
  width: 540px;
}

.foot {
  bottom: 0;
}

.imgCover {
  width: 100%;
  height: 308px;
  background-image: url(./assets/desktop/image-footer.jpg);
}

.white {
  color: white;
  width: 350px;
}

.BannerText {
  color: white;
  height: 100%;
  background: rgba(41, 146, 165, 0.85);
}

.bannerSummery {
  width: 350px;
}

.chapterTwo {
}

/* font-size */
.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}
/* font-size close */

/*------ chapter icon making ------*/

.chapterBar {
  width: 1px;
  height: 84px;
  border-left: #b3b3c7 solid 1px;
  opacity: 0.25;
}

.chapterShape {
  width: 56px;
  height: 56px;
  border: rgba(135, 135, 157, 0.25) solid 1px;
  border-radius: 50%;
  background-color: #fafafa;
  font-weight: 700;
  padding: 15px 17px;
}

/*------ chapter icon making close ----- */

/* -------button style-------- */
.buton {
  padding: 16px 29px;
  border-radius: 29px;
  color: white;
  border-style: none;
}

.Blue {
  background-color: #4d96a9;
}

.versionBlue {
  color: #8fe3f9;
}

.Blue:hover {
  background-color: #71c0d4;
}

.Pupple {
  background-color: #855fb1;
}

.versionPupple {
  color: #d9b8ff;
}

.Pupple:hover {
  background-color: #b18bdd;
}
/*  -----button style end-- --- */

/* flex row */
.flexRo {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* flex row end */
