* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.sideList {
  display: flex;
  flex-direction: column;
  background-color: #31323a;
  font-size: 25px;
}

img,
.buttonImg {
  width: 24px;
}

li {
}
