@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

* {
  font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

/* 블라인드처리 */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  /* overflow: hidden; */
}

.mainHeader {
  position: relative;
  background: rgb(228, 235, 250);
  padding-top: 1.2rem;
  padding-bottom: 0px;
}

.headLine {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: auto;
}

.logoCashierest > a {
  display: block;
  width: 110px;
  height: 26px;
  background-position: 0 0;
}

.headLine nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 85%;
}

.headLine nav > ul {
  display: flex;
  align-items: center;
}

.navigation > li {
  margin-left: 38px;
}

.navigation > li:first-child {
  margin-left: 0;
}

.navigation li a {
  font-weight: 500;
  font-size: 16px;
  color: rgb(32, 35, 42);
  letter-spacing: -0.5px;
  font-family: "Noto Sans KR";
}

.navigation li a:hover {
  color: #0275d8;
}

.navigation > .investLoan {
  position: relative;
}

.navigation > .investLoan::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -5px;
  width: 4px;
  height: 4px;
  background-color: #eb1d25;
}

.viewMyMoney {
  position: relative;
}

.mymoney {
  width: 147.5px;
  text-align: center;
  position: absolute;
  top: 25px;
  right: -75%;
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(0 0 0 / 7%);
  transition: max-height 350ms ease-in-out;
  max-height: 0px;
  overflow: hidden;
}

.mymoney > li {
  padding: 14px 25px;
  border: #dfe4ee solid 1px;
  background-color: #ffffff;
}
.mymoney > li > a {
  color: rgb(143, 143, 143);
  font-size: 15px;
}

.mymoney > li:hover,
.mymoney > li:hover > a {
  background-color: #f5f8ff;
  color: #0275d8;
}

nav .logIn > li > a {
  font-size: 14px;
  font-weight: 400;
  margin-left: 21px;
}

nav .logIn > li > a:hover {
  color: #0275d8;
}

/* 메뉴바 */

.headLine .menu {
  position: relative;
}

.menu article {
  position: absolute;
  right: -10px;
  top: 30px;
  width: 320px;
  background-color: white;
  border-radius: 8px;
  border: rgb(233, 233, 233) solid 1px;
  box-shadow: 0 0 15px rgb(0 0 0 / 7%);
  transition: max-height 350ms ease-in-out;
  max-height: 0px;
  overflow: hidden;
}

.fa-bars {
  font-size: 22px;
  color: rgb(94, 94, 94);
  margin-left: 11px;
}

.menu article > dl {
  padding: 28px 24px;
}

.menu article > dl:last-child {
  padding-top: 0;
}

.menu article > dl > dt {
  color: #333333;
  padding-bottom: 11px;
  border-bottom: #20232a solid 2px;
}

.menu article > dl:last-child > dt {
  border-bottom: unset;
}

.menu article > dl {
  font-size: 14px;
  font-weight: 500;
}

.fastSurvice dd {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin-top: 22px;
  border-right: #dbdbdb solid 2px;
}

.fastSurvice dd a {
  color: #949494;
}

.fastSurvice > :nth-child(2) {
  margin-top: 20px;
}

.fastSurvice > :nth-child(3) {
  margin-right: 20px;
  border-right: white solid 0px;
}

.fastSurvice > :last-child {
  border-right: white solid 0px;
}

.relativeSurvice dl > dt {
  padding: 8px 5px;
  background-color: #efefef;
  color: #697f91;
  font-size: 12px;
  border-top: #20232a solid 2px;
}

.relativeSurvice dl > dd {
  margin: 25px 10px 0;
}

.menu article .App {
  display: flex;
  justify-content: space-between;
  color: #697f91;
}

.App:last-child {
  padding-top: 25px;
  border-top: rgb(228, 228, 228) solid 1px;
}

.App .AppLogo,
.App .AppLogo2 {
  width: 40%;
  height: 72.24px;
}

.AppLogo em {
  margin-top: 10px;
  display: block;
  width: 75px;
  height: 15px;
  background: url("./image/back_2b_logo_01.png") no-repeat 100%;
}

.AppLogo2 em {
  margin-top: 10px;
  display: block;
  width: 35px;
  height: 30px;
  background-position: 0 0;
}

.App .market {
  width: 52%;
}

.App .market a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  margin: 3px;
  border: rgb(223, 223, 223) solid 1px;
  border-radius: 5px;
}

.App .market a strong {
  color: #697f91;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 300;
}

.App .market a:first-child > em {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background-position: 0 -40px;
}

.App .market a:last-child > em {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background-position: 0 -55px;
}

.relativeSite dd {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px;
}

.relativeSite dd a {
  margin: 0 10px 0;
  font-size: 12px;
  color: #677d8f;
}

.relativeSite dd a:first-child {
  border-right: rgb(221, 221, 221) solid 1px;
  padding-right: 30px;
}

.relativeSite dd a em {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: 0 -30px;
  margin-left: 3px;
}

.index .mainheader {
  width: 100%;
  height: 380px;
  margin: auto;
  background: rgb(228, 235, 250) url("./image/merge_image/merge_image.png") no-repeat;
  background-position: center -1602px;
}

.index .mainheader .mainhead {
  width: 1170px;
  margin: auto;
  padding-top: 120px;
}

.mainH2Grp .mainH2 h2 {
  font-size: 34px;
  font-weight: 300;
  line-height: 1;
  color: #20232a;
}

.mainH2Grp .mainH2 p {
  margin: 30px 0 40px;
  font-size: 16px;
  color: #666;
  line-height: 26px;
}

.logInBox {
  display: flex;
}

.logInBox a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 100px;
  border-radius: 3px;
  font-size: 14px;
}

.logInBox .logIn {
  border: #046fd9 solid 2px;
  color: #416ff4;
  margin-right: 20px;
}

.logInBox .newBe {
  background-color: #416ff4;
  color: white;
}

.logInBox .logIn:hover,
.logInBox .newBe:hover {
  background-color: #2558ef;
  color: white;
  border: unset;
}

/* 배너 슬라이더 */

.mainhead {
  position: relative;
  overflow: hidden;
  height: 387.73px;
}

.mainH2 {
  position: absolute;
  left: 0;
  width: 585px;
  overflow: hidden;
  transition: left 350ms ease-in-out;
}

.openSlide .mainH2 {
  left: -585px;
}

.bannerGrp {
  width: 1170px;
  position: absolute;
  top: 80px;
  left: 575px;
  overflow: hidden;
  transition: left 350ms ease-in-out;
}

.openSlide .bannerGrp {
  left: -10px;
}

.sliderIconGrp {
  position: absolute;
  bottom: 30px;
  right: 30px;
  /* right: -555px; */
  display: flex;
  align-items: center;
  transition: right 350ms ease-in-out;
}

.openSlide .sliderIconGrp {
  right: 30px;
}

.sliderIconGrp .circle {
  width: 8px;
  height: 8px;
  border: black solid 1px;
  border-radius: 50%;
  margin: 0 3px;
}

.sliderIconGrp .circle:hover {
  color: #426ff4;
  background-color: #426ff4;
  border-color: #426ff4;
}

.fa-pause:hover,
.fa-play:hover {
  color: #426ff4;
}

.fa-pause,
.fa-play {
  font-size: 8px;
  color: rgb(73, 73, 73);
  line-height: 0;
  margin: 0 3px;
}

.sliderIconGrp .beforeIc {
  width: 8px;
  height: 14px;
  background-position: 0 54px;
  margin: 0 6px;
}

.sliderIconGrp .beforeIc:hover {
  background-position: 0 40px;
}

.sliderIconGrp .afterIc {
  width: 8px;
  height: 14px;
  background-position: 0 27px;
  margin: 0 6px;
}

.sliderIconGrp .afterIc:hover {
  background-position: 0 14px;
}

.sliderDiv {
  position: relative;
  left: 0px;
  /* per -400px */
  width: 100%;
  overflow: hidden;
}

.slideBanner {
  position: relative;
  left: 0px;
  display: flex;
  overflow: hidden;
  width: 5215%;
  transition-property: all;
  transition-duration: 0.1s;
  /* transform: translate(-1193.91px, 0); */
}

.slideBanner li {
  margin: 12px;
}

.slideBanner li a {
  display: block;
  width: 374px;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
}

.slideBanner .slide1 a,
.slideBanner .slide5 a {
  background-position: 0 230px;
}

.slideBanner .slide2 a,
.slideBanner .slide6 a {
  background-position: 0 460px;
}
.slideBanner .slide3 a {
  background-position: 0 690px;
}
.slideBanner .slide4 a {
  background-position: 0 920px;
}
